<div class="card flow" style="--flow-space: .5em">
  <time datetime="{{ event.data.date | htmlDateString }}">{{ event.data.date | readableDate("LLLL dd yyyy") }}</time>
  <h3>{{ event.data.title }}</h3>
  <p>{{ event.data.overview | safe }}</p>
</div>