<div class="featured-event">
  <time datetime="{{ item.data.date | htmlDateString }}">{{ item.data.date | readableDate("LLLL dd yyyy") }}</time>
  <h3>{{ item.data.title }}</h3>
  <div>{{ item.data.overview | safe }}</div>
</div>