<nav class="wrapper" style="--space: var(--space-xs)">
  <ul role="list" class="cluster" style="margin:0">
    <li><a href="/">Home</a></li>
    <li><a href="/events">Events</a></li>
    <li><a href="/code-of-conduct">Code of Conduct</a></li>
  </ul>
</nav>
