---
layout: layouts/base.njk
---

<header class="dark-bg">
  {% include 'nav.njk' %}
  <div class="wrapper region flow hero">
    <h1>{{title}}</h1>
    {% if descriptionIsHtml == true %}
      <div class="lead">{{description | safe}}</div>
    {% else %}
      <p class="lead">{{description | safe}}</p>
    {% endif %}
  </div>
</header>
{% include 'curve.svg' %}

<main class="flow">
  {{ content | safe }}
</main>