---
layout: layouts/layout.njk
title: Events
pagination:
  data: collections.events
  size: 4
  alias: events
  reverse: true
---

<section class="wrapper region flow">
  <div class="grid" data-layout="50-50" data-rows="masonry">
    {%- for event in events -%}
      {% include 'event-list.njk' %}
    {%- endfor -%}
  </div>

  <div class="flow pagination">
    {% if pagination.href.previous %}
      <a href="{{pagination.href.previous}}">Previous Page</a>
    {% endif %}
    {% if pagination.href.next %}
      <a href="{{pagination.href.next}}">Next Page</a>
    {% endif %}
  </div>
</section>